<!--Se indica el uso del contenido del archivo base-->
{% extends "base.html" %}

{% block content %}
    <h2>{{ pregunta.titulo }}</h2>
    <p>{{ pregunta.detalle }}</p>

    <!--Se indica renderizado de un formulario con crispy-->
    {% load crispy_forms_tags %}
    <div class="container-fluid mt-5 w-75" id="prguntar">
        <h4>Contribuye con tu respuesta</h4>
        <form method="POST" id="formulario" action="{% url 'preguntas:respuesta_form' pregunta.id %}">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-primary" type="submit"
            style="margin: 1em 0em;">Publicar</button>
        </form>
    </div>

    <!--Se carga JQuery-->
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    <!--Se agregan código de JS-->
    {% block javascript %}
        {% load static %}
        <script src="{% static 'js/preguntaPOST.js' %}"></script>
    {% endblock javascript %}
{% endblock content %}
