<!-- Se indica el uso del contenido del archivo base -->
{% extends "base.html" %}

{% block content %}
    <!--Formulario de búsqueda-->
    <form class="row row-cols-lg-auto g-3 align-items-center"
    method="GET" action="{% url 'preguntas:buscar' %}">
        <div class="col-12">
            <label for="InputSearch" class="form-label">Búsqueda de preguntas</label>
            <input type="text" name="tema" class="form-control" id="InputSearch" aria-describedby="searchHelp">
            <div id="searchHelp" class="form-text">Busca algún tema de tu interés</div>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
    </form>

    <h2>Dale un vistazo a las preguntas</h2>

    <!--Renderiza preguntas registradas-->
    {% for pregunta in pregunta_list %}
    <!--Creación de tarjeta de contenido-->
    <div class="card w-75" id="{% url 'preguntas:detalles' pregunta.id %}">
        <div class="card-body">
            <h5 class="card-title">{{ pregunta.titulo }}</h5>
            <p class="card-text">
                <span style="float: left; width: 75%;">
                    Pubicación: {{ pregunta.fecha_publicacion }}
                </span>
                <span style="float: left; width: 25%;">
                    Autor: {{ pregunta.autor }}
                </span>
            </p>
        </div>
    </div>
    {% endfor %}

    <!--Se agregan código de JS-->
    {% block javascript %}
        {% load static %}
        <script src="{% static 'js/indexInteraction.js' %}"></script>
    {% endblock javascript %}

{% endblock content %}
