body {
    margin-left: 1em;
    margin-right: 1em;
}

nav {
    margin-left: -1em;
    margin-right: -1em;
}

form {
    padding: 1em 0em;
}

#login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error_msj {
    color: #BA8A2D;
}
